/* GLOBAL SETTINGS */

*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--darken-green);
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: var(--light-yellow);
}

.content{
    padding: 0% 8%;
}

header, section, footer{
    width: 100%;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* CLASSES GLOBAL FLEX BOX */

.display-flex{
    display: flex;
}

.flex-direction-column{
    flex-direction: column;
}

.align-items-center{
    align-items: center;
}

.align-items-start{
    align-items: flex-start;
}

.align-items-end{
    align-items: flex-end;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-around{
    justify-content: space-around;
}

.justify-content-end{
    justify-content: end;
}

/* HEADER CLASSES GLOBAL */

header{
    margin-top: 50px;
}

header nav div:nth-child(3){
    display: none;
}

header nav div:nth-child(3) #button-close{
    display: none;
}

header nav ul li a{
    font-size: 1.25rem;
    font-weight: 300;
    color: var(--light-aquamarine);
}

header nav ul li a:hover{
    color: var(--medium-aquamarine);
}

header nav ul li img, #savenote img{
    margin-right: 10px;
    object-fit: cover;
    width: 1.5rem;
}

header nav ul li:nth-child(2){
    margin-left: 25px;
}

/* SECTIONS CLASSES GLOBAL */

section h2{
    font-size: 1.8rem;
    text-align: center;
    color: var(--medium-aquamarine);
}

/* BUTTONS CLASSES GLOBAL */

.button-green{
    background-color: var(--medium-aquamarine);
    color: var(--light-yellow);
    padding: 2.5% 8%;
}

.button-green:hover{
    background-color: var(--dark-aquamarine);
}
